.main {
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.example-card {
    width: 100%;
    text-align: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    gap: 10px;
    margin-bottom: 10px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.btnCard {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.members {
    flex-direction: row;
    gap: 8px;
    display: flex;
}

.toolsContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    padding: 2rem;
    text-align: center;
}

.AllTools {
    text-align: center;
}

.contentAll {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.topInfos {
    display: flex;
    flex-direction: row;
    grid-gap: 10px;
    gap: 10px;
    text-align: center;
    justify-content: center;
    align-items: baseline;
    padding: 15px;
}

.Separation {
    border-top: 2px solid #CED4DA;
}
