<mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="firstStep">
        <div class="topInfos">
            <h1>FormsProject</h1>
            <p><b>by Enilson Neto</b></p>
        </div>
        <p><b>Segue abaixo os questionarios ja cadastrados, dividindo entre opcionais e Obrigatorios!</b></p>
        <p>Caso deseje adicionar um novo Questionario <b>clique</b> no botão abaixo!</p>
        <p>Case deseje editar informações do questionario vizualize o mesmo e edite as informações internamente!</p>
        <p>Ao clicar em ver Questionário uma nova aba será exibida abaixo o qual voce pode responder ao questionário
            selecionado!</p>
        <button mat-flat-button color="primary" matStepperNext>
            Adicionar Questionário</button>
        <hr>
        <div class="main">
            <div class="toolsContainer">
                <div class="tools" *ngIf="questionnariesTrue.length > 0">
                    <h3>Questionários Obrigatorios*</h3>
                    <div *ngFor="let questionnarie of questionnariesTrue">
                        <mat-card class="example-card">
                            <mat-card-title>{{questionnarie.title}}</mat-card-title>
                            <p>{{questionnarie.description}}</p>
                            <div class="buttons">
                                <button mat-flat-button color="primary" [disabled]="questionnarie.concluded"
                                    (click)="viewQuestionnarie(questionnarie)">Ver Questionário</button>

                                <button class="centerg" title="Ações" mat-icon-button [matMenuTriggerFor]="menu">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-three-dots" viewBox="0 0 16 16">
                                        <path
                                            d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3" />
                                    </svg>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item color="warn" (click)="removeQuestionnarie(questionnarie.id)">
                                        <mat-icon>delete</mat-icon>Remover Questionário
                                    </button>
                                    <button mat-menu-item color="primary" (click)="openEditModal(questionnarie)">
                                        <mat-icon>edit</mat-icon> Editar Questionário</button>
                                </mat-menu>
                            </div>
                        </mat-card>
                    </div>
                </div>
                <div class="Separation"></div>
                <div class="tools" *ngIf="questionnariesFalse.length > 0">
                    <h3>Questionarios Opcionais</h3>
                    <div *ngFor="let questionnarie of questionnariesFalse">
                        <mat-card class="example-card">
                            <mat-card-title>{{questionnarie.title}}</mat-card-title>
                            <p>{{questionnarie.description}}</p>
                            <div class="buttons">
                                <button mat-flat-button color="primary" [disabled]="questionnarie.concluded"
                                    (click)="viewQuestionnarie(questionnarie)">Ver Questionário</button>

                                <button class="centerg" title="Ações" mat-icon-button [matMenuTriggerFor]="menu">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-three-dots" viewBox="0 0 16 16">
                                        <path
                                            d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3" />
                                    </svg>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item color="warn" (click)="removeQuestionnarie(questionnarie.id)">
                                        <mat-icon>delete</mat-icon>Remover Questionário
                                    </button>
                                    <button mat-menu-item color="primary" (click)="openEditModal(questionnarie)">
                                        <mat-icon>edit</mat-icon> Editar Questionário</button>
                                </mat-menu>
                            </div>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <app-content-questionnaries [header]="informationsArray" (resultArrayChange)="onResultArrayChange($event)"
            (questionnarieSaved)="createQuestionnarie()" (questionnarieConcluded)="onQuestionnarieConcluded($event)"
            *ngIf="headerQuestionnarie != false"></app-content-questionnaries>
    </mat-step>
    <mat-step [stepControl]="secondStep">
        <app-create-questionnarie [journey]="journeyId" (questionnarieSaved)="getHeader()"></app-create-questionnarie>
    </mat-step>
</mat-horizontal-stepper>