<div class="modal-header">
    <h4 class="modal-title pull-left">Editar Sessão</h4>
    <button mat-dialog-close type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form #editForm="ngForm" (ngSubmit)="save()" novalidate>
        <div class="form-group">
            <mat-form-field appearance="outline" class="Input">
                <mat-label>Titulo</mat-label>
                <input class="input-place" matInput name="sectionTitle" [(ngModel)]="sectionTitle"
                    placeholder="Digite o título" maxlength="256" required>
            </mat-form-field>
            <mat-form-field appearance="outline" class="Input">
                <mat-label>Descrição</mat-label>
                <input class="input-place" matInput name="sectionDescription" [(ngModel)]="sectionDescription"
                    placeholder="Digite a descrição da questão" maxlength="256" required>
            </mat-form-field>
            <mat-form-field appearance="outline" class="Input">
                <mat-label>Subtítulo</mat-label>
                <input class="input-place" matInput name="sectionSubTitle" [(ngModel)]="sectionSubTitle"
                    placeholder="Digite a descrição da questão" maxlength="256" required>
            </mat-form-field>
            <mat-form-field appearance="outline" class="Input">
                <mat-label>Fórmula</mat-label>
                <input class="input-place" matInput name="sectionFormula" [(ngModel)]="sectionFormula"
                    placeholder="Digite a descrição da questão" maxlength="256">
            </mat-form-field>
            <input type="hidden" id="sectionId" [(ngModel)]="sectionId" name="sectionId" class="form-control" required>
            <input type="hidden" id="sectionHeaderQuestionnarieId" [(ngModel)]="sectionHeaderQuestionnarieId" name="sectionHeaderQuestionnarieId" class="form-control" required>
        
        </div>
        <div class="form-group">
            <button mat-dialog-close type="submit" class="btn btn-primary" [disabled]="!editForm.valid || saving">Salvar</button>
            <button mat-dialog-close type="button" class="btn btn-secondary"
                (click)="bsModalRef.hide()">Cancelar</button>
        </div>
    </form>
</div>